@import "tailwindcss";
@import "tw-animate-css";



@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}
/** Nav and Main custom styles */
@layer components {
  nav {
    @apply bg-white shadow-md px-4 py-2 flex items-center justify-between z-50;
  }
  main {
    @apply max-w-5xl mx-auto px-4 py-8;

  }

  .top-btn button {
    @apply  text-white px-4 py-1 rounded shadow transition;
  }
    .drop-down{
      @apply bg-zinc-800;
    }
  
    .search{
      @apply bg-zinc-800;
    }
}

.magicpattern { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(-45 .5 .5)%22%3E%3Cstop offset=%220%25%22 stop-color=%22%2374EBD5%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%239FACE6%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M837.5 611.5Q723 723 611.5 828T357 859.5Q214 786 217.5 643T235 374.5q14-125.5 139.5-154t248 3q122.5 31.5 226 154t-11 234Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M837.5 611.5Q723 723 611.5 828T357 859.5Q214 786 217.5 643T235 374.5q14-125.5 139.5-154t248 3q122.5 31.5 226 154t-11 234Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
